@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Background of the webpage */
html{
    background: url(https://images.unsplash.com/photo-1520116610688-c1d0d0cdfb50?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=fe211a98fc3cc47113fb9e27b0b18072&auto=format&fit=crop&w=934&q=80) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.2) 100%), url(https://images.unsplash.com/photo-1520116610688-c1d0d0cdfb50?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=fe211a98fc3cc47113fb9e27b0b18072&auto=format&fit=crop&w=934&q=80);
}

/*  ********************* container for content *********************  */
.portfolio-container{
    margin: auto;
    width: 75%;
    height: fit-content;
    background-color: rgba(27, 27, 27, 0.874);
    padding: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.section-titles{
    font-size: 50px;
    color: #097392;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 615px){
    .section-titles{
        font-size: 30px;
        color: #097392;
        display: flex;
        justify-content: center;
    }
}

@media only screen and (max-width: 330px){
    .section-titles{
        font-size: 20px;
        color: #097392;
        display: flex;
        justify-content: center;
    }
}

/*  ********************* container for title/navbar *********************  */
.navbar-container{
    height:100px;
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 100%;
    z-index: 100;
    color:#097392;
    font-size: 100px;
    padding-bottom: 10px;
}

@media only screen and (max-width: 615px){
    .navbar-container{
        height:100px;
        align-items: center;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        width: 100%;
        z-index: 100;
        color:#097392;
        font-size: 50px;
        padding-bottom: 10px;
    }
}

@media only screen and (max-width: 320px){
    .navbar-container{
        height:100px;
        align-items: center;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        width: 100%;
        z-index: 100;
        color:#097392;
        font-size: 35px;
        padding-bottom: 10px;
    }
}

/*  ********************* Image section for portfolio *********************  */
.image-container{
    
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.portfolio-image{
    border-radius: 60%;
    align-items: center;
    height: 50%;
    width: 50%;
    padding-top: 25px;
    padding-bottom: 25px;
}

@media only screen and (max-width: 400px){
    .portfolio-image{
        border-radius: 60%;
        align-items: center;
        height: 150px;
        width: 150px;
        padding-top: 25px;
        padding-bottom: 25px;
    }
}

/*  ********************* About Container *********************  */
.about-container{
    color: #83B4B3;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 25px;
    font-size: 25px;
}

@media only screen and (max-width: 615px){
    .about-container{
        color: #83B4B3;
        align-items: center;
        display: flex;
        justify-content: center;
        height: 100%;
        width: 100%;
        padding: 25px;
        font-size: 15px;
    }
}

/*  ********************* project container *********************  */
.project-container{
    margin: auto;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 20px;
}

.project-images-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 20px;
}
.project-images{
    height: 300px;
    width: 300px;
    border-radius: 15px;
    margin: 5px;
}

.project-images:hover{
    height: 350px;
    width: 350px;
    border-radius: 15px;
}

@media only screen and (max-width: 985px){
    .project-images{
        height: 250px;
        width: 250px;
        border-radius: 15px;
    }
    .project-images:hover{
        height: 300px;
        width: 300px;
        border-radius: 15px;
    }
}
@media only screen and (max-width: 880px){
    .project-images{
        height: 250px;
        width: 250px;
        border-radius: 15px;
    }
    .project-images:hover{
        border-radius: 15px;
        height: 250px;
        width: 250px;
        box-shadow: 5px 5px 5px #097392;
    }
}

@media only screen and (max-width: 400px){
    .project-images{
        height: 150px;
        width: 150px;
        border-radius: 15px;
    }
    .project-images:hover{
        border-radius: 15px;
        height: 150px;
        width: 150px;
        box-shadow: 5px 5px 5px #097392;
    }
}



/*  ********************* Skills/Extra Info container *********************  */
.info-container{
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 20px;
}

.skill-logos{
    height: 100px;
    width: 100px;
    border-radius: 20%;
    padding: 5px;
}

/*  ********************* Contact Container *********************  */
.contact-container{
    height: fit-content;
    border: solid rgba(0, 0, 0, 0.549);
    background-color: rgba(0, 0, 0, 0.726);
}

/* label focus color */
.input-field input:focus + label {
    color: #097392 !important;
}
/* label underline focus color */
.row .input-field input:focus {
border-bottom: 1px solid #097392!important;
box-shadow: 0 1px 0 0 #097392 !important
}
/* label focus color */
.input-field input[type=text]:focus + label, .materialize-textarea:focus:not([readonly]) + label {
    color: #097392 !important;
   }

/* label underline focus color */
   .input-field input[type=text]:focus, .materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #097392 !important;
    box-shadow: 0 1px 0 0 #097392 !important;
   }
/* Input field color */
   .input-field input[type=text]:focus + label {
    color:#097392;
}

/* FOOTER CONTAINER */
.footer-container{
    height:fit-content;
    
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 50px;
    flex-flow: row wrap;
    font-size: 20px;
    padding: 10px;
    position: relative;
    text-align: center;
}

.footer-items {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    font-size: 25px;
    justify-content: space-around;
    padding: 10px;
    position: relative;
    text-align: center;
    width: 100%;
    color: grey;
}
.footer-github{
    font-size:40px;
}

.footer-linkedin{
    font-size:40px;
}

.footer-items a:link, a:visited, a:active {
    color:#097392;
}

.footer-items a:hover{
    color: white;
}


@media only screen and (max-width: 1410px){
}
@media only screen and (max-width: 1065px){
}
@media only screen and (max-width: 944px){
}
@media only screen and (max-width: 710px){
}
@media only screen and (max-width: 521px){
}
@media only screen and (max-width: 348px){
}
@media only screen and (max-width: 530px){

}